<?xml version='1.0' encoding='utf-8'?>

<configuration>
	<configSections>
	</configSections>

<connectionStrings>
	<add name="SimplesCRUD.Properties.Settings.crudConnectionString"
		connectionString="server=localhost;User Id=root;password='usbw';database=bdcrud"
		providerName="MySql.Data.MySqlClient" />
</connectionStrings>
</configuration>